/* styles.css */

body, html {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}

#container {
    display: flex;
    flex-direction: column;
}

#plotContainer {
    width: 80%;
    margin: auto;
}

#controlsContainer {
    width: 80%;
    margin: auto;
}

form {
    margin-top: 20px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #f9f9f9;
}

.row {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.label {
    margin-right: 10px;
}

#infoBox {
    margin-top: 20px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #f9f9f9;
}

h3 {
    margin-bottom: 10px;
}

ul {
    list-style-type: none;
    padding: 0;
}

li {
    margin-bottom: 5px;
}
